.pokemon-summary {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}

.pokemon-summary h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.alphabet-summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.resumen {
  margin-left: 4rem;
  margin-top: 20px;
}
.letter-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-primary {
  background-color: #d32f2f;
}
